## 1.

* Ordered: Tuples maintain the order of their elements, meaning that the first element comes before the second element, and so on.

* Heterogeneous: Tuples can contain elements of different data types. For example, a tuple can contain an integer, a string, and a float.

* Yes, tuples are immutable. Once a tuple is created, its elements cannot be modified, added or deleted.

## 2.

In [97]:
tuple=(1,2,3,4,5,6,1,2,3,4,5,6)
tuple.count(4)

2

* count: This method takes a single argument and returns the number of times that argument appears in the tuple.

In [98]:
tuple=(1,2,3,4,'a','b','c','d')
tuple.index('a')

4

* index: This method takes a single argument and returns the index of the first occurrence of that argument in the tuple.

## 3.

* Sets are unordered collections of unique elements.

In [99]:
my_list = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
my_set = set(my_list)
unique_list = list(my_set)
print(unique_list)

[1, 2, 3, 4]

## 4.

* union() returns a new set that contains all the elements from both sets, while

In [100]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

* update() modifies the original set to contain all the elements from another set.

In [101]:
set1 ={1,2,3,4}
set2 ={1,2,3,5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

## 5

* Dictionary is a data structure that stores data in key-value pairs, where each key is associated with a value. Keys are used to look up values, and they must be unique within the dictionary.

In [102]:
dict= {'apple':4,'banana':6,'orange':10}

In [103]:
dict

{'apple': 4, 'banana': 6, 'orange': 10}

## 6.

* Yes, it is possible to create a nested dictionary in Python. A nested dictionary is a dictionary inside another dictionary. Here's an example of a simple one-level nested dictionary:

In [104]:
dict1 ={"month_name":{"JAN":1,"FEB":2,"MAR":3,"APR":4,"MAY":5,"JUN":6,"JUL":7,"AUG":8,"SEP":9,"OCT":10,"NOV":11,"DEC":12}}

In [105]:
dict1

{'month_name': {'JAN': 1,
  'FEB': 2,
  'MAR': 3,
  'APR': 4,
  'MAY': 5,
  'JUN': 6,
  'JUL': 7,
  'AUG': 8,
  'SEP': 9,
  'OCT': 10,
  'NOV': 11,
  'DEC': 12}}

In [114]:
dict1["month_name"]["DEC"]

12

## 7.

In [116]:
dict2={"name":"Md Sarwar","age":25}

In [118]:
dict2.setdefault("topics",['Python', 'Machine Learning', 'Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [119]:
print(dict2)

{'name': 'Md Sarwar', 'age': 25, 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

## 8.

In [121]:
dict3 = {'Sport': 'Cricket', 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [123]:
dict3.keys()

dict_keys(['Sport', 'Teams'])

In [124]:
dict3.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [125]:
dict3.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])