## 1.

In [41]:

percentage_from = int(input("Enter The percentage: "))

if percentage_from > 90:
    grade = "A"
elif percentage_from > 80 and percentage_from <= 90:
    grade = "B"
elif percentage_from >= 60 and percentage_from <= 80:
    grade = "C"
elif percentage_from < 60:
    grade = "D"

    
print("Grade:", grade)

Enter The percentage:  1

Grade: D

## 2.

In [42]:

cost_price = float(input("Enter the cost price of the bike (in Rs): "))

if cost_price > 100000:
    tax = 0.15
elif cost_price > 50000 and cost_price <= 100000:
    tax = 0.10
elif cost_price <= 50000:
    tax = 0.05


road_tax = cost_price * tax
print("The road tax to be paid is Rs", road_tax)

Enter the cost price of the bike (in Rs):  10

The road tax to be paid is Rs 0.5

## 3.

In [3]:

City= input("Enter the city name")
if City =="Delhi":
    print("Red fort")
elif City =="Agra":
    print("Taj Mahal")
elif City =="Jaipur":
    print("Jal Mahal")
else:
    print("No Result Found")

Enter the city name kolkata

No Result Found

## 4.

In [90]:

num = int(input("Enter a number: "))
count = 0

while num > 10:
    num = num // 3
    count += 1

print("The number ", count)

Enter a number:  2000

The number  5

## 5.

* It repeats a statement or multiple statements when a provided condition is True
   * Before performing a loop body it check for a condition

In [109]:
## example While Loop
i = 1
while i < 20:
    print(i,end=" ")
    i += 2

1 3 5 7 9 11 13 15 17 19

In [117]:
## example While Loop
i = 1
while i <= 4:
    print("Md, " " Sarwar")
    i += 1

Md,  Sarwar
Md,  Sarwar
Md,  Sarwar
Md,  Sarwar

## 6.

In [146]:
rows = 5
current_row = 1

while current_row <= rows:
    stars = current_row
    while stars > 0:
        print("*", end="")
        stars -= 1

    print()
    current_row += 1

*
**
***
****
*****

In [133]:
rows = 5
current_row = 1

while current_row <= rows:
    spaces = rows - current_row
    while spaces > 0:
        print(" ", end="")
        spaces -= 1

    stars = 2 * current_row - 1
    while stars > 0:
        print("*", end="")
        stars -= 1

    print()
    current_row += 1

    *
   ***
  *****
 *******
*********

In [134]:
rows = 5
current_row = 1

# Print upper triangle
while current_row <= rows:
    spaces = rows - current_row
    while spaces > 0:
        print(" ", end="")
        spaces -= 1

    stars = 2 * current_row - 1
    while stars > 0:
        print("*", end="")
        stars -= 1

    print()
    current_row += 1

# Print lower triangle
current_row = rows - 1
while current_row > 0:
    spaces = rows - current_row
    while spaces > 0:
        print(" ", end="")
        spaces -= 1

    stars = 2 * current_row - 1
    while stars > 0:
        print("*", end="")
        stars -= 1

    print()
    current_row -= 1

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# 7.

In [152]:
num=10
while num>=1:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1