In [1]:
a=10

In [2]:
a

10

In [3]:
type(a)

int

In [4]:
int(1,2,3)

TypeError: int() takes at most 2 arguments (3 given)

In [5]:
int()

0

In [6]:
age=25
print("my age is:",age)

my age is: 25

In [8]:
print(f"my age is:{age}")
## f, is the string for formating

my age is:25

In [9]:
## format()
name="sarwar"
age=25
print("my name is {} and age is {}".format(name,age))

my name is sarwar and age is 25

In [13]:
print("my name is {} and age is {}" .format(age,name))

my name is 25 and age is sarwar

In [15]:
##placeholder

print("my name is {firstname} and age is {firstages}".format(firstname=name,firstages=age))

my name is sarwar and age is 25

In [18]:
## ex format()
name="sarwar"
age=25
degree="b.tach"
print("my name is {} and age is {} and degree is {}".format(name,age,degree))

my name is sarwar and age is 25 and degree is b.tach

In [19]:
## ex placeholder

name="sarwar"
age=25
degree="B.tech"
print(" my name is {firstname} and age is {firstages} and degree is {firstdegree}".format(firstname=name,firstages=age,firstdegree=degree))

 my name is sarwar and age is 25 and degree is B.tech

In [23]:
## Q
## my age is 25 and i have completed: my degree of B.Tech with name of sarwar
## ANS 
age=25
name="Sarwar"
degree="B.Tech"

print("my age is {} and i have completed: my degree of {} with name of {}".format(age,degree,name))

my age is 25 and i have completed: my degree of B.Tech with name of Sarwar

## if Statment

In [31]:
age=17
if age<18:
    print("your are not eligible to vote")

your are not eligible to vote

In [32]:
## ex

In [40]:
## ex 1
age>=18
if age<=45:
    print("you are young blood")

you are young blood

In [44]:
## ex 2
age<=45
if age>=18:
    print("your not young blood")

your not young blood

In [33]:
##input

In [34]:
name=input("Enter the name")

Enter the name sarwar

In [35]:
name

'sarwar'

In [36]:
type(name)

str

In [ ]:
## ex

In [37]:
age=int(input("Enter the age"))

Enter the age 25

In [38]:
age

25

In [39]:
type(age)

int

In [45]:
## ex1

age=int(input("entrn your age"))

entrn your age 25

In [46]:
age

25

In [47]:
## ex

age=int(input("Enter you age"))
if age>=18 and age <=45:
    print("you are young blood")

Enter you age 18

you are young blood

In [53]:
age=int(input("Enter your age"))
if age>=18 and age<=60:
    print("your eligable for vote")

Enter your age 60

your eligable for vote

In [55]:
## if else satetements
age=int(input("Enter your age"))
if age>=18 and age<=60:
    print("your eligable for vote")
else:
    print("you are not eligable")

Enter your age 26

your eligable for vote

In [ ]:
## ex
##mall _ input the product price
## product >1000 rs  20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

product_price=int(input("Enter your product price"))
if product_price>1000:
    print("the price of the product is {}". format(product_price*0.8))
else:
    print("the price of the product is {}". format(product_price*0.7))

In [68]:
int((20/100)*1000)

200

In [ ]:
## f, is the string for formating
product_price=int(input("Enter your product price"))
if product_price>1000:
    print(f"the price of the product is {(product_price*0.8)}")
else:
    print(f"the price of the product is {(product_price*0.7)}")

In [72]:
## ex
## mall _ input the product price
## product >3000 rs  20% off
## print the product price after removing the discount
## product >=2000 rs and 30% off
## print the product price after removing the discount
## product >=100 rs and <=2000 40% off
##print the product price after removing the discount

In [96]:
## f, is the string for formating
product_price=int(input("Enter your product price"))
if product_price >3000:
    print(f"the price of the product is {(product_price*0.8)}")
elif product_price >=2000 and product_price <=3000:
    print(f"the price of the product is {(product_price*0.7)}")
elif  product_price >=100 and product_price >2000:
    print(f"the price of the product is {(product_price*0.6)}")
else:
    print("bay a tre")

Enter your product price 2000

the price of the product is 1400.0

In [ ]:
int((40/100)*3000
   )

In [98]:
product_price=int(input("Enter your product price"))
if product_price >3000:
    print(f"the price of the product is {(product_price*0.8)}")
elif product_price >=2000 and product_price <=3000:
    print(f"the price of the product is {(product_price*0.7)}")
elif  product_price >=100 and product_price >2000:
    print(f"the price of the product is {(product_price*0.6)}")
else:
    print("Lets drink tea")
    print("i will also be ther")

Enter your product price 100

Lets drink tea
i will also be ther

In [99]:
# comaprission operator
True==True

True

In [106]:
## Single statement

val=int(input("Enter the number"))
if(val<=999):print("Value is less then equal to 999")
else:
    print("Go Home and slipe")

Enter the number 1111

Go Home and slipe