## Function

In [1]:
print("This is my prog")

This is my prog

In [3]:
i= [1,2,3,4,5,6]

In [5]:
len(i)

6

In [6]:
def test ():
    pass

In [7]:
def test1():
    print("this is my fast funcation")

In [9]:
test1()

this is my fast funcation

In [10]:
test1()+"Sarwar"

this is my fast funcation

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [11]:
def test2():
    return"this is my name"

In [12]:
test2()

'this is my name'

In [15]:
test2() + " Sarwar"

'this is my name Sarwar'

In [16]:
def test3():
    return 1,2,"sarwar",20,25

In [17]:
test3()

(1, 2, 'sarwar', 20, 25)

In [18]:
a =1,2,3,4,5,6

In [19]:
a

(1, 2, 3, 4, 5, 6)

In [23]:
a,b,c,d=1,2,3,4

In [24]:
a

1

In [25]:
b

2

In [26]:
c

3

In [27]:
d

4

In [28]:
test3()

(1, 2, 'sarwar', 20, 25)

In [30]:
test3()[0]

1

In [32]:
test3()[4]

25

In [33]:
test3()

(1, 2, 'sarwar', 20, 25)

In [34]:
test3()[2]

'sarwar'

In [38]:
a,b,c,d=test3()

ValueError: too many values to unpack (expected 4)

In [39]:
def test4():
    a=3*4+5
    return a

In [40]:
type(test4())

int

In [43]:
def test5(a,b):
    c = a + b
    return c

In [44]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [45]:
test5(1,3)

4

In [46]:
test5("md ","Sarwar")

'md Sarwar'

In [47]:
test5([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
test5(b= "Sarwar",a="md")

'mdSarwar'

In [49]:
l = [1,2,3,4,"md ","sarwar",[1,22,33,44]]
# create a function which will take list as a input and give me a final list which all numeric value

In [50]:
def test6(a):
    n = []
    for i in a:
        if type(i)==int or type(i)== float:
            n.append(i)
    return n

In [51]:
test6(l)

[1, 2, 3, 4]

In [62]:
def test8(a):
    n = []
    for i in a :
        if type(i) == list :
            for j in i :
                if type(j) == int or type(j) == float :
                    n.append(j)
        else:
            if type(i) == int or type(i) == float :
                n.append(i)
    return n

In [63]:
test8(l)

[1, 2, 3, 4, 1, 22, 33, 44]

In [66]:
def test9 (a,b,c,e):
    pass

In [68]:
test9(1,2,3,4)

In [69]:
test9(1,2,3,4,5)

TypeError: test9() takes 4 positional arguments but 5 were given

In [71]:
def test10(*args):
    return args

In [72]:
test10(1,2,3,4,5,6,6,7,)

(1, 2, 3, 4, 5, 6, 6, 7)

In [74]:
test10("md sarwar",[1,23,4,5,6,],(1,2,43,4,5,456,))

('md sarwar', [1, 23, 4, 5, 6], (1, 2, 43, 4, 5, 456))

In [75]:
def test11(*sarwar):
    return sarwar

In [76]:
test11(1,23,4,4,5)

(1, 23, 4, 4, 5)

In [77]:
def test12(*args,a):
    return args ,a

In [79]:
test12(1,2,23,a="sarwar")

((1, 2, 23), 'sarwar')

In [80]:
def test12(*arge):
    l = []
    for i in arge:
        if type(i)== list:
            l.append(i)
    return l

In [81]:
test12(1,2,3,45,[45.67,8,8,9],"md golam sarwar",[11,233,4,4,566,])

[[45.67, 8, 8, 9], [11, 233, 4, 4, 566]]

In [82]:
def test13(*arge):
    n = []
    for i in arge:
        if type(i)== str:
            n.append(i)
    return n

In [83]:
test13(1,2,3,45,[45.67,8,8,9],"md golam sarwar",[11,233,4,4,566,])

['md golam sarwar']

In [97]:
def test14(**kwagrs):
    return kwagrs

In [99]:
type(test14)

function

In [95]:
test14(1,2,3,45,[45.67,8,8,9],{"ram","sam","jadu"},[11,233,4,4,566,])

TypeError: test14() takes 0 positional arguments but 7 were given

In [100]:
def test15(**kwargs):
    return kwargs

In [102]:
type(test15())

dict

In [103]:
test15(a=456,b=[1,2,3,23,4],c=("md golam sarwar"), d=586)

{'a': 456, 'b': [1, 2, 3, 23, 4], 'c': 'md golam sarwar', 'd': 586}

In [113]:
def test16(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            return i , kwargs[i]

In [114]:
test16(a=456,b=[1,2,3,23,4],c=("md golam sarwar"), d=586)

('b', [1, 2, 3, 23, 4])

In [116]:
def test16(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==str:
            return i , kwargs[i]

In [118]:
test16(a=456,b=[1,2,3,23,4],c=("md golam sarwar"), d=586)

('c', 'md golam sarwar')

In [119]:
def test16(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])== int:
            return i, kwargs[i]

In [120]:
test16(a=456,b=[1,2,3,23,4],c=("md golam sarwar"), d=586)

('a', 456)

In [121]:
def test17(*args,**kwargs):
    return args, kwargs

In [122]:
test17(2,3,44,5,6, a=44,b=77)

((2, 3, 44, 5, 6), {'a': 44, 'b': 77})

In [123]:
type(test17)

function

## Generator Function

In [130]:
range (1,10)

range(1, 10)

In [131]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [134]:
l=[1,2,3,4,5,6,7,8,9,0,"md ","sarwar"]

In [144]:
def test1(a):
    n=[]
    for i in a:
        if type(i) == int:
            n.append(i)
    return n

In [145]:
test1(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [142]:
id(test1)

1627957946976

In [143]:
id(range)

140716725816336

In [149]:
def test2(a):
    n =[]
    for i in a:
        if type(i)==str:
            n.append(i)
    return n

In [150]:
test2(l)

['md ', 'sarwar']

In [153]:
Fibonacci:
    0,1,1,2,3,5,8,13,21,34

SyntaxError: invalid syntax (2440659963.py, line 1)